@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.mind-word {
  font-family: "Caveat", cursive;
}

.code-word {
  font-family: "JetBrains Mono", monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.code-word.light {
  border-right: 0.15em solid black;
  animation: typing 1s steps(4, end), blink-caret-light 0.75s step-end infinite;
}

.code-word.dark {
  border-right: 0.15em solid white;
  animation: typing 1s steps(4, end), blink-caret-dark 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret-light {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes blink-caret-dark {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Squiggle */
.squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear forwards, color-cycle 5s steps(1) infinite;
  animation-delay: 2s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes color-cycle {
    0% {
      stroke: #bc85ff;
    }
    20% {
      stroke: #e11d48;
    }
    40% {
      stroke: #3b82f6;
    }
    60% {
      stroke: #22c55e;
    }
    80% {
      stroke: #ea580c;
    }
    100% {
      stroke: #bc85ff; /* Back to the initial color to create a loop */
    }
  }
  