@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.mind-word {
  font-family: "Caveat", cursive;
}

.code-word {
  font-family: "JetBrains Mono", monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.code-word.light {
  border-right: 0.15em solid black;
  animation: typing 1s steps(4, end), blink-caret-light 0.75s step-end infinite;
}

.code-word.dark {
  border-right: 0.15em solid white;
  animation: typing 1s steps(4, end), blink-caret-dark 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret-light {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes blink-caret-dark {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
